*
* {{ properCase name }}
*
*/

import React from 'react';
// import styled from 'styled-components/native';

type Props = {

}

function {{ properCase name }}({}: Props = {}) {
  return (
    <div>
      My newly created component {{ properCase name}}!
    </div>
  );
}


export default {{ properCase name }};
